In [5]:
import pandas as pd
import glob
import os

# Set folder path
folder_path = "C:/Users/kylea/iCloudDrive/EAE/Data_Science/final_project/ny_metro_manhattan/raw_data"

# Get all CSV file paths in the folder
csv_files = glob.glob(os.path.join(folder_path, "*.csv"))

# Read and concatenate all CSVs into a single DataFrame
combined_df = pd.concat(
    (pd.read_csv(f) for f in csv_files),
    ignore_index=True
)

#quick preview
print(f"Loaded {len(csv_files)} CSVs into a DataFrame with {combined_df.shape[0]:,} rows and {combined_df.shape[1]} columns.")
combined_df.head()

Loaded 818 CSVs into a DataFrame with 12,444,955 rows and 9 columns.

,transit_timestamp,transit_mode,station_complex_id,station_complex,borough,payment_method,fare_class_category,ridership,transfers
0,2021-09-23T03:00:00.000,subway,316,50 St (1),Manhattan,metrocard,Metrocard - Unlimited 7-Day,8.0,0.0
1,2022-07-22T19:00:00.000,subway,323,Christopher St-Sheridan Sq (1),Manhattan,metrocard,Metrocard - Full Fare,111.0,1.0
2,2022-07-22T19:00:00.000,subway,323,Christopher St-Sheridan Sq (1),Manhattan,metrocard,Metrocard - Other,9.0,0.0
3,2021-09-23T12:00:00.000,subway,403,33 St (6),Manhattan,metrocard,Metrocard - Full Fare,193.0,8.0
4,2021-09-23T07:00:00.000,subway,602,"14 St-Union Sq (L,N,Q,R,W,4,5,6)",Manhattan,metrocard,Metrocard - Seniors & Disability,35.0,10.0

In [6]:
# 1. Filter the 'transit_mode' column to only 'subway'
combined_df = combined_df[combined_df["transit_mode"] == "subway"]

# 2. Remove the 'borough' and 'transit_mode' columns
combined_df = combined_df.drop(columns=["borough", "transit_mode"])

# 3. Convert 'transit_timestamp' to datetime
combined_df["transit_timestamp"] = pd.to_datetime(combined_df["transit_timestamp"])

# 4. Extract year, month, day, and hour from 'transit_timestamp'
combined_df["year"] = combined_df["transit_timestamp"].dt.year
combined_df["month"] = combined_df["transit_timestamp"].dt.month
combined_df["day"] = combined_df["transit_timestamp"].dt.day
combined_df["hour"] = combined_df["transit_timestamp"].dt.hour

# 5. Create a 'weekend_flag' column (1 for weekend, 0 for weekday)
combined_df["weekend_flag"] = combined_df["transit_timestamp"].dt.weekday >= 5  # 0-4 are weekdays, 5-6 are weekend

# Quick preview of the modified DataFrame
print(combined_df.head())

    transit_timestamp station_complex_id                   station_complex  \
0 2021-09-23 03:00:00                316                         50 St (1)
1 2022-07-22 19:00:00                323    Christopher St-Sheridan Sq (1)
2 2022-07-22 19:00:00                323    Christopher St-Sheridan Sq (1)
3 2021-09-23 12:00:00                403                         33 St (6)
4 2021-09-23 07:00:00                602  14 St-Union Sq (L,N,Q,R,W,4,5,6)

  payment_method               fare_class_category  ridership  transfers  \
0      metrocard       Metrocard - Unlimited 7-Day        8.0        0.0
1      metrocard             Metrocard - Full Fare      111.0        1.0
2      metrocard                 Metrocard - Other        9.0        0.0
3      metrocard             Metrocard - Full Fare      193.0        8.0
4      metrocard  Metrocard - Seniors & Disability       35.0       10.0

   year  month  day  hour  weekend_flag
0  2021      9   23     3         False
1  2022      7   22    19         False
2  2022      7   22    19         False
3  2021      9   23    12         False
4  2021      9   23     7         False